PORT=3000

# Host and a port. Can be with `redis://` or without.
# Host and a port encoded in redis uri take precedence over other environment variable.
# preferable
URL_REDIS_DOCKER=

# Or you can set it here (ie. for docker development)
REDIS_HOST=localhost
REDIS_PORT=6379

# You can set password here
REDIS_PASSWORD=

COMPOSE_PROJECT_NAME=redis-shopping-cart
